<div id="carouselProducts" class="carousel slide lg" data-ride="carousel">

  <!-- INDICADORES -->
  <ol class="carousel-indicators">
    <li data-target="#carouselProducts" data-slide-to="0" class="active"></li>
    <li data-target="#carouselProducts" data-slide-to="1"></li>
    <li data-target="#carouselProducts" data-slide-to="2"></li>
  </ol>
  <!-- INDICADORES -->

  <!-- INNER -->
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let item of caroulselItems;let index = index; let isFirst = first"
      [ngClass]="{active:isFirst}">
      <img [src]="item.image" class="d-block w-100" [alt]="item.text">

      <div>
        <h3 class="caroulsel-text">{{item.text}}</h3>
      </div>
    </div>
  </div>
  <!-- INNER -->

  <!-- FLECHA -->
  <a class="carousel-control-prev" href="#carouselProducts" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#carouselProducts" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!-- FLECHA -->

</div>