$color-primario: #7ad400;
$color-secundario: #007934;
$color-terciario: #a1a1a5;
$color-gris-oscuro: #5d5b5b;
$color-fondo: #f1f1f1;
$color-secundario-menu: #f8f8f8;
$color-orange: #d58a00;
$color-orange-dark: #d56b00;

$tipografia-principal: "VAGRoundedStd-Thin";
$glyphicon: "Glyphicons Halflings";

$ico-info: "\e086";
$ico-check: "\e013";
