.alert.alert-info::before {
  font-family: $glyphicon;
  content: $ico-info;
  font-size: 1.5em;
  font-weight: 700;
  position: absolute;
  left: 10px;
  top: 30%;
}

.alert-underline.alert-info::before {
  font-family: $glyphicon;
  content: $ico-info;
  font-size: 1.5em;
  font-weight: 700;
  position: absolute;
  left: 0.5em;
  top: 1px;
}

.alert {
  position: relative;
  font-size: 0.8em;
  padding-left: 3em;
  line-height: 1.2em;
  border: 1px solid transparent;
}

.alert-underline {
  position: relative;
  font-size: 0.7em;
  padding-left: 3em;
  line-height: 1.3;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

.alert-underline p {
  margin: 0;
  display: block;
  padding-top: 5px;
}

.alert-info {
  color: $color-orange;
  background-color: #fff;
  border-color: $color-orange;
}
