.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(26, 54, 126, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-width: 0;
  transition: all 0.2s;
}

.card h3 {
  font-size: 1.2em;
  color: #38871c;
}

.card.card-info {
  padding: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.card-txt {
  font-size: 0.9em;
  line-height: 1.3;
}

.card-pagina-error {
  background: url(../images/errorPagina.png) no-repeat;
  background-position: center;
  background-size: 70%;
  min-height: 350px;
}

.info-item {
  border-bottom: 1px solid #efefef;
}

.info-item span {
  color: $color-secundario;
}

.info-item p {
  color: $color-gris-oscuro;
  font-size: 0.9em;
}
