@-moz-keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner-loader:not(:required) {
  -moz-animation: spinner-loader 1500ms infinite linear;
  -webkit-animation: spinner-loader 1500ms infinite linear;
  animation: spinner-loader 1500ms infinite linear;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: rgba(0, 121, 52, 1) 1.5em 0 0 0, rgb(27, 158, 13) 1.1em 1.1em 0 0, rgb(44, 196, 22) 0 1.5em 0 0,
    rgb(112, 183, 0) -1.1em 1.1em 0 0, rgb(122, 212, 0) -1.5em 0 0 0, rgb(188, 255, 72) -1.1em -1.1em 0 0,
    rgb(227, 244, 154) 0 -1.5em 0 0, rgb(237, 255, 192) 1.1em -1.1em 0 0;
  -webkit-box-shadow: rgba(0, 121, 52, 1) 1.5em 0 0 0, rgb(27, 158, 13) 1.1em 1.1em 0 0, rgb(44, 196, 22) 0 1.5em 0 0,
    rgb(112, 183, 0) -1.1em 1.1em 0 0, rgb(122, 212, 0) -1.5em 0 0 0, rgb(188, 255, 72) -1.1em -1.1em 0 0,
    rgb(227, 244, 154) 0 -1.5em 0 0, rgb(237, 255, 192) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 121, 52, 1) 1.5em 0 0 0, rgb(27, 158, 13) 1.1em 1.1em 0 0, rgb(44, 196, 22) 0 1.5em 0 0,
    rgb(112, 183, 0) -1.1em 1.1em 0 0, rgb(122, 212, 0) -1.5em 0 0 0, rgb(188, 255, 72) -1.1em -1.1em 0 0,
    rgb(227, 244, 154) 0 -1.5em 0 0, rgb(237, 255, 192) 1.1em -1.1em 0 0;
  display: inline-block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin: 1.5em;
  overflow: hidden;
  text-indent: 100%;
}
