.btn-numeric-stepper{
color:rgb(34, 34, 34);
width: 23px;
height: 23px;
background-color: rgb(170, 170, 170);
border:none;
border-radius: 5px;
font-size: 12px;
}

.input-numeric-stepper{
    width: 30px;
    border: 0px;
    vertical-align: middle;
    border-color: rgb(156, 156, 156);
    background-color: rgb(255, 255, 255);
    outline: none;
}