<div class="footer">
    <div class="row">
        <div class="col md-4 d-flex flex-column">
            <a href="www.facebook.com"><em class="fab fa-facebook-f"></em></a>
            <a href="www.facebook.com"><em class="fab fa-twitter"></em></a>
            <a href="www.facebook.com"><em class="fab fa-instagram" aria-hidden="true"></em></a>
        </div>

        <div class="col md-4">
            <address>
                <h3>Oficina Central</h3>
                <p>
                    Calle 20 # 55 67 - Medellin - Colombia
                </p>
            </address>
        </div>
        
        <div class="col md-4">
            <address>
                <h3>Oficina Central</h3>
                <p>
                    Calle 20 # 55 67 - Medellin - Colombia
                </p>
            </address>
        </div>

        <div class="col md-4 d-flex flex-column align-items-end">
            <a href="www.facebook.com"><em class="fab fa-facebook-f"></em></a>
            <a href="www.facebook.com"><em class="fab fa-twitter"></em></a>
            <a href="www.facebook.com"><em class="fab fa-instagram" aria-hidden="true"></em></a>
        </div>
    </div>
</div>