<div class="container">
    <div class="col-md-12">
        <br>
        <a href="xxxxx xxxx ">{{createEditProductForm.get('shortDescription').value}}</a>
        <mat-divider></mat-divider>
        <div class="row">
            <div class="col-md-12">
                <p>
                <form [formGroup]="createEditProductForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name">
                                    Nombre del producto
                                </label>
                                <input type="text" placeholder="100 carácteres" class="form-control nospace"
                                    formControlName="shortDescription"
                                    [ngClass]="{ 'is-invalid': f.shortDescription.errors }" />
                                <div *ngIf="submitted && f.shortDescription.errors" class="invalid-feedback">
                                    <div *ngIf="f.shortDescription.errors.required">Debes ingresar un Nombre.</div>
                                    <div *ngIf="f.shortDescription.errors.maxlength">El shortDescription no puede
                                        superar
                                        {{f.shortDescription.errors.maxlength}}}
                                        caracteres.</div>
                                </div>

                                <label for="Name">
                                    Código del producto
                                </label>
                                <input type="text" placeholder="100 carácteres" class="form-control nospace"
                                    formControlName="code" [ngClass]="{ 'is-invalid': f.code.errors }" />
                                <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                                    <div *ngIf="f.code.errors.required">Debes ingresar un codigo.</div>
                                    <div *ngIf="f.code.errors.maxlength">El código no puede
                                        superar
                                        {{f.code.errors.maxlength}}}
                                        caracteres.</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="salePrice">
                                    Precio
                                </label>
                                <input type="text" placeholder="$ Precio" class="form-control nospace"
                                    formControlName="salePrice" [ngClass]="{ 'is-invalid': f.salePrice.errors }" />
                                <div *ngIf="submitted && f.salePrice.errors" class="invalid-feedback">
                                    <div *ngIf="f.salePrice.errors.required">Debes ingresar un Nombre.</div>
                                    <div *ngIf="f.salePrice.errors.maxlength">El salePrice no puede superar
                                        {{f.salePrice.errors.maxlength}}}
                                        caracteres.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="pictures">
                                    Fotos
                                </label>

                                <!-- <div class="card">
                                    <div class="card-body">
                                        <a href="" (click)="loadImage()"> <img
                                                src="../../../../../assets/images/picAddPhoto.jpg" width="80"
                                                height="80" /></a>
                                    </div>
                                </div> -->

                                <div class="card-body align-items-center d-flex justify-content-center"
                                    style="cursor: pointer;">
                                    <img src="../../../../../assets/images/picAddPhoto.jpg"
                                        style="max-width: 80px; min-width: 80px;"
                                        onclick="document.querySelector('#LoadFile').click()">
                                    <input style="display: none;" type="file" id="LoadFile" accept="image/*"
                                        (change)="readItemPicture($event)" />
                                </div>

                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="description">
                                    Descripción
                                </label>
                                <input type="text" placeholder="100 carácteres" class="form-control nospace"
                                    formControlName="description" [ngClass]="{ 'is-invalid': f.description.errors }" />
                                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                    <div *ngIf="f.description.errors.required">Debes ingresar una descripción.</div>
                                    <div *ngIf="f.description.errors.maxlength">El description no puede
                                        superar
                                        {{f.description.errors.maxlength}}}
                                        caracteres.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="salePrice">
                                    Cantidad
                                </label>
                                <input type="text" placeholder="Cantidad" class="form-control nospace"
                                    formControlName="quantity" [ngClass]="{ 'is-invalid': f.quantity.errors }" />
                                <div *ngIf="submitted && f.salePrice.errors" class="invalid-feedback">
                                    <div *ngIf="f.quantity.errors.required">Debes ingresar un Nombre.</div>
                                    <div *ngIf="f.quantity.errors.maxlength">El salePrice no puede superar
                                        {{f.quantity.errors.maxlength}}}
                                        caracteres.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<pre>{{createEditProductForm.value | json}}</pre>