<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Inicio</a></li>
        <li class="breadcrumb-item"><a routerLink="products">Productos</a></li>
        <li class="breadcrumb-item active" aria-current="page" routerLink="view-product">Ver Producto</li>
    </ol>
</nav>


<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">

            <div class="img-zoom-container">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
                <div id="myresult" class="img-zoom-result"></div>
            </div>


        </div>

        <div class="col-lg-4 col-md-4" style="padding-top: 75px;">
            <div class="form-row">
                <p>
                <h1>{{product.description}}</h1>
                <button class="button-wish"><span class="oi oi-heart" data-glyph="heart"
                        style="color: rgb(190, 64, 64);"></span></button>
            </div>
            <div>
                <span class="oi oi-star primary" *ngFor="let item of qtyStarts; let index = index;"
                    style="color:royalblue;"></span>
            </div>

            <p>
            <h4>{{product.description}}</h4>


            <p>
            <h2>${{product.salePrice | number :'1.2-2' }}</h2>


            <div>
                Cantidad ({{product.quantity}} disponibles)
                <select>
                    <option value="{{index}}" *ngFor="let item of qtyUnits; let index = index;">{{index+1}}</option>
                </select>
            </div>

            <div>
                <p>
                <h3>Formas de Pago</h3>
                <img class="img-responsive" src="https://www.demercas.com/img/cms/medios-pago/pago-seguro-opt.png"
                    width="300" height="150" alt="Formas de pago" />
            </div>

            <br><br>
            <div class="form-row">
                <button class="btn btn-primary" [routerLink]="['pre-checkout']"
                    (click)="productService.addItemToCart(product)"><span class="oi oi-credit-card"
                        data-glyph="credit-card"></span>
                    Comprar</button> &nbsp; &nbsp;
                <button class="btn btn-primary" (click)="productService.addItemToCart(product)">Agregar a
                    Carrito</button>
            </div>
        </div>
    </div>


    <!-- DIVISOR -->
    <div class="row">
        <div class="col-md-12">
            <mat-divider></mat-divider>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <br>
        <p>
        <h1>Productos Relacionados</h1>
        <div id="caroulselrelatedproducts" class="carousel slide md" data-ride="carousel">

            <!-- INDICADORES -->
            <ol class="carousel-indicators">
                <li data-target="#caroulselrelatedproducts" data-slide-to="0" class="active"></li>
                <li data-target="#caroulselrelatedproducts" data-slide-to="1"></li>
                <li data-target="#caroulselrelatedproducts" data-slide-to="2"></li>
            </ol>
            <!-- INDICADORES -->

            <!-- INNER -->
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let item of relatedproducts;let index = index; let isFirst = first"
                    [ngClass]="{active:isFirst}">
                    <img [src]="item.Picture" class="d-block w-100" [alt]="">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
            </div>
            <!-- INNER -->

            <!-- FLECHA -->
            <a class="carousel-control-prev" href="#caroulselrelatedproducts" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#caroulselrelatedproducts" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!-- FLECHA -->

        </div>
    </div>


    <div class="col-md-8">
        <!-- PROMOCIONADOS  -->
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
            <mat-tab label="Caracteristicas"> {{product.description}} </mat-tab>
            <mat-tab label="Reseñas"> {{product.description}} </mat-tab>
        </mat-tab-group>
    </div>
</div>

<!-- <pre>{{productImagesArray | json}}</pre> -->


<script>
    function imageZoom(imgID, resultID) {
        var img, lens, result, cx, cy;
        img = document.getElementById(imgID);
        result = document.getElementById(resultID);
        /*create lens:*/
        lens = document.createElement("DIV");
        lens.setAttribute("class", "img-zoom-lens");
        /*insert lens:*/
        img.parentElement.insertBefore(lens, img);
        /*calculate the ratio between result DIV and lens:*/
        cx = result.offsetWidth / lens.offsetWidth;
        cy = result.offsetHeight / lens.offsetHeight;
        /*set background properties for the result DIV:*/
        result.style.backgroundImage = "url('" + img.src + "')";
        result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";
        /*execute a function when someone moves the cursor over the image, or the lens:*/
        lens.addEventListener("mousemove", moveLens);
        img.addEventListener("mousemove", moveLens);
        /*and also for touch screens:*/
        lens.addEventListener("touchmove", moveLens);
        img.addEventListener("touchmove", moveLens);
        function moveLens(e) {
            var pos, x, y;
            /*prevent any other actions that may occur when moving over the image:*/
            e.preventDefault();
            /*get the cursor's x and y positions:*/
            pos = getCursorPos(e);
            /*calculate the position of the lens:*/
            x = pos.x - (lens.offsetWidth / 2);
            y = pos.y - (lens.offsetHeight / 2);
            /*prevent the lens from being positioned outside the image:*/
            if (x > img.width - lens.offsetWidth) { x = img.width - lens.offsetWidth; }
            if (x < 0) { x = 0; }
            if (y > img.height - lens.offsetHeight) { y = img.height - lens.offsetHeight; }
            if (y < 0) { y = 0; }
            /*set the position of the lens:*/
            lens.style.left = x + "px";
            lens.style.top = y + "px";
            /*display what the lens "sees":*/
            result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
        }
        function getCursorPos(e) {
            var a, x = 0, y = 0;
            e = e || window.event;
            /*get the x and y positions of the image:*/
            a = img.getBoundingClientRect();
            /*calculate the cursor's x and y coordinates, relative to the image:*/
            x = e.pageX - a.left;
            y = e.pageY - a.top;
            /*consider any page scrolling:*/
            x = x - window.pageXOffset;
            y = y - window.pageYOffset;
            return { x: x, y: y };
        }
    }
</script>

<script>
    // Initiate zoom effect:
    imageZoom("myimage", "myresult");
</script>

<style>
    * {
        box-sizing: border-box;
    }

    .img-zoom-container {
        position: relative;
    }

    .img-zoom-lens {
        position: absolute;
        border: 1px solid #d4d4d4;
        /*set the size of the lens:*/
        width: 40px;
        height: 40px;
    }

    .img-zoom-result {
        border: 1px solid #d4d4d4;
        /*set the size of the result div:*/
        width: 300px;
        height: 300px;
    }
</style>