/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Poppins-Light';
   src: url('src/assets/fonts/poppins/Poppins-Light.ttf') format('truetype'); 
  /* src: url('src\assets\fonts\bobba-panda/Boba Panda Font by 7NTypes.otf') format('truetype'); */
}

@font-face {
  font-family: 'Boba Panda';
  src: url('src/assets/fonts/bobba-panda/Boba Panda Font by 7NTypes.otf') format('truetype'); 
}


html, body { height: 100%; margin: 0px; font-family: Verdana, Geneva, Tahoma, sans-serif ;}


 .button-view {
    position: absolute;
    top: 20%;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: rgb(77, 77, 77);
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 35px;
    height: 35px;
  }
  
  .span-item:hover .button-view {
    display: block; /* On :hover of div show button */
  }

  .mat-divider {
    border-top-color: rgba(0, 0, 0, 0.12);
  }


  
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
