/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin: 10px;}


 .button-view {
    position: absolute;
    top: 20%;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: rgb(77, 77, 77);
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 35px;
    height: 35px;
  }
  
  .span-item:hover .button-view {
    display: block; /* On :hover of div show button */
  }

  .mat-divider {
    border-top-color: rgba(0, 0, 0, 0.12);
  }

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.primary-button {
  border: none;
  color: blanchedalmond;
  background: #8e0b0b;
  border-radius: 5px;
  margin: 2px;
  font-size: medium;
  height: 35px;
  }

  .primary-button:active {
    outline: none;
    }

    .primary-button:hover {
  background: #730303;
  box-shadow: 5px, 3px;
}

.success-dialog {
  color: white !important;
  background-color: #730303 !important;
}

.mat-simple-snackbar-action {
  color: white !important;
}

.success-dialog .button{
  color: white !important;
  background-color: #0c9400 !important;
}

.mat-button mat-focus-indicator mat-button-base{
  color: white !important;
  background-color: #0c9400 !important;
}