<div class="col-xl-12 col-md-12">
    <table id='tblProducts' datatable [dtOptions]="dtOptions" class="table table-striped row-border table-hover"
        style="width: 100%;">
        <thead>
            <tr>
                <th>Code</th>
                <th>Desc</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let group of data">
                <td>{{group.code}}</td>
                <td>{{group.description}}</td>
            </tr>
        </tbody>
    </table>
</div>


<script>
    $(document).ready(function () {
        var table = $('#tblProducts').DataTable({
            "ajax": '',
            "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": "<button>Click!</button>"
            }]
        });

        $('#tblProducts tbody').on('click', 'button', function () {
            var data = table.row($(this).parents('tr')).data();
            alert(data[0] + "'s salary is: " + data[5]);
        });
    });
</script>